services:
  server:
    build:
      context: ./server          # only look at server/ contents
      dockerfile: Dockerfile
    image: udp_server
    networks:
      - udpnet
    ports:
      - "9000:9000/udp"
    entrypoint: ["tail", "-f", "/dev/null"]
    volumes:
      - ./server:/src:cached
      - ./server/build:/src/build
    working_dir: /src

  client:
    build:
      context: ./client          # only look at client/ contents
      dockerfile: Dockerfile
    image: udp_client
    networks:
      - udpnet
    entrypoint: ["tail", "-f", "/dev/null"]
    volumes:
      - ./client:/src:cached
      - ./client/build:/src/build
    working_dir: /src

networks:
  udpnet:
    driver: bridge
