services:
  server:
    build:
      context: ./server          # only look at server/ contents
      dockerfile: Dockerfile
    image: udp_server
    networks:
      - udpnet
    ports:
      - "9000:9000/udp"
    entrypoint: ["tail", "-f", "/dev/null"]
    volumes:
      - ./server:/server:cached
      - ./server/build:/server/build
    working_dir: /server

  client:
    build:
      context: ./client          # only look at client/ contents
      dockerfile: Dockerfile
    image: udp_client
    networks:
      - udpnet
    entrypoint: ["tail", "-f", "/dev/null"]
    volumes:
      - ./client:/client:cached
      - ./client/build:/client/build
    working_dir: /client

networks:
  udpnet:
    driver: bridge
